/* General styles */

body {
    font-family: 'Roboto Condensed',Verdana, sans-serif;
    color: var(--darkText);
    background: var(--color1);
}

h1,h2,h3,h4,h5,p {padding:10px; margin:10px; line-height: 1.2;}
h1,h2,h3,h4,h5 {font-weight: bold;}
h1 {font-size: 40px;}
h2 {font-size: 32px;}
h3 {font-size: 24px;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}
p {font-size: 16px;}
a {text-decoration: none;}

/* Header styles */
header {
    background: var(--color2);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); 
    padding: 100px;
}

#headerbar {
    display:flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    padding: 20px;
    text-align: center;
}

#acpdLogo {
    width: auto;
    height: 100%;
    max-height: 150px;
    padding: 10px; 
}

#pageOverview {
    padding: 20px 40px 20px 40px;
    font-size: 20px;
}

/* Main styles */

.areas {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    padding: 20px;
    margin: 40px;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); 
    background: var(--color2);
}


.areaheader {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    flex-basis: 100%;
    width:100%;
    border-radius: 5px;
    box-shadow: 0px 3px 4px -6px rgba(0, 0, 0, 0.2), 0px 4px 6px -5px rgba(0, 0, 0, 0.19); 
    background: var(--color2);
    z-index: 2;
}


.subareaheader {
    position: -webkit-sticky;
    position: sticky;
    top: 3.5em;
    flex-basis: 100%;
    border-radius: 5px;
    margin-top: 0px;
    box-shadow: 0px 3px 4px -6px rgba(0, 0, 0, 0.2), 0px 4px 6px -5px rgba(0, 0, 0, 0.19); 
    background: var(--color3);
    z-index: 1;
}

.areatitle {
    flex-basis: 100%;
}

.subareas {
    display: flex;
    width:99%;
    padding: 10px;
    margin: 10px 0 10px 0;
    align-items: stretch;
    flex-wrap:wrap;
    background: var(--color3);
    border-radius: 5px;
    
}

.areabits {
    background: var(--color4);
    font-size: 14px;
    padding: 0px;
    margin: 5px;
    border-radius: 0px;
    width:auto;
    height: 300px;
    flex: 1 1 25%;
    display:flex;
    background-color: var(--color2);
    background-size:cover;
    background-position: center;
}

.layer {
    background-color: rgba(255,255,2555,0);
    padding: 20px;
    width: 100%;
    transition: .3s ease-in-out;
    background: radial-gradient(rgba(255,255,255,.9) 0%,rgba(255,255,255,0) 100%);
}

.layer:hover {
    background: rgba(255,255,2555,0.8);
}

.areabits h5 {
    text-align: center;
    position:relative;
    top:40%;
    font-size: 30px;
    transition: .3s ease-in-out;
}

.areabits:hover h5 {
    font-size:18px;
    top: 0px;
}

.areabits p {
    opacity: 0;
    transition: .5s ease-in-out;
}

.areabits:hover p {
    opacity: 1;
}

#exercise {background-image: url("../Images/exercise3.jpg");}
#nutrition {background-image: url("../Images/nutrition1.jpg");}
#sleepHygiene {background-image: url("../Images/sleep1.jpg");}
#yoga {background-image: url("../Images/yoga1.jpg");}
#bodyMarkers {background-image: url("../Images/body1.jpg");}
#understandingChallenges {background-image: url("../Images/mentalhealth1.jpg");}
#compassionFatigueTraining {background-image: url("../Images/compassion1.jpg");}
#resilienceTraining {background-image: url("../Images/peersupport1.jpg");}
#peerSupport {background-image: url("../Images/peersupport3.jpg");}
#inhouseChaplain {background-image: url("../Images/chaplain1.jpg");}
#familyPrograms {background-image: url("../Images/residential1.jpg");}
#apps {background-image: url("../Images/app1.jpg");}
#equineProgram {background-image: url("../Images/horse1.jpg");}
#serviceDogs {background-image: url("../Images/dog1.jpg");}
#onsiteClinician {background-image: url("../Images/clinician1.jpg");}
#mentalHealthServices {background-image: url("../Images/counsel2.jpg");}
#residentialTreatmentPrograms {background-image: url("../Images/tea1.jpg");}
#substanceAbusePrograms {background-image: url("../Images/substance1.jpg");}
#eap {background-image: url("../Images/counsel3.jpg");}
#hotlines {background-image: url("../Images/hotline1.jpg");}
#veteransServices {background-image: url("../Images/vet1.jpg");}

@media (max-width: 650px) {
    .areas {
        justify-content: stretch;
    }
    .areabits {
        max-width: 100%;
        flex: 1 1 100%;
    }
    
    .subareaheader {
        top: 5em;
    }
}


.areabits:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    transform: scale(1.01);
}

.areabitlinks {
    color: var(--darkText);
}


#area2 {
    justify-content: flex-start;
    flex-direction: column;
    align-items:flex-start;
}

/* Footer styles */

footer {
    background: var(--color2);
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2), 0 -3px 10px 0 rgba(0, 0, 0, 0.19); 
    margin: 0;
    padding: 10px;
}

#cummingsLogo {
    max-width: 300px;
    height: auto;
}